<div class="col-md-6 col-md-offset-3 panel-primary">
  <div class="panel-heading"><h4><b>Plan your journey</b></h4></div>
  <div class="well panel-body">
      <div class="col-md-offset-3">
          <div class="control-group from">
            <label>
                <input autofocus type="text" id="from" name="from" class="" placeholder="From" >
            </label>
            <br/>
            <span  style="color:#800000" class="help-inline"></span>
         </div>
         <div class="control-group to">
           <label>
               <input type="text" id="to" name="to" class="" placeholder="To" >
           </label>
           <br/>
           <span style="color:#800000" class="help-inline"></span>
         </div>
           <button type="button"  id="newJourneyBtn" class="col-md-6 btn btn-md btn-primary"><b>Show routes</b></button>

      </div>
    </div>
</div>
